nav {
    align-self: center;
}

.button {
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    margin: 1rem;
    border-radius: 54px;
    background-color: #010c3f;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
  }

  .button:hover {
    background-color: rgba(108, 65, 233, .7);
  }